.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px;
}
.card{
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.2s;
    background-color: #fff;
}
.card:hover {
    transform: scale(1.05);
}
.card-image {
    width: 100%;
    border-radius: 10px ;
}
.card-title {
    font-size: 18px;
    margin: 10px 0 5px ;
}
.card-description {
    font-size: 14px;
    color: #555;
}