.cart {
  width: 80%;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

hr {
  margin: 15px 0;
}
.cart h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.cart h3 {
  color: #333;
}
